* {
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .colom {
    display: block;
    text-align: center;
  }

  .profil-icon {
    width: 50%;
  }
}

@media (max-width: 670px) {
  .colom {
    display: block;
  }
  .kolom-profil {
    display: block;
  }
  .profil-icon {
    width: 100%;
  }
}
